.modlog-action {
	text-transform: capitalize;
}

td a {
    color: inherit;
}

td span[data-rank="1"] {
    color: var(--fin-blue);
    text-shadow: 0 0 5px var(--light-fin-blue);
}
tr.gridjs-tr:has(span[data-rank="1"]) td {
    color: var(--fin-blue);
    background-color: rgb(222 229 238 / 85%);
    font-size: 1.3em;
    font-weight: 800;
    font-stretch: extra-expanded;
}

td span[data-rank="2"] {
    color: var(--fin-blue);
    text-shadow: 0 0 5px var(--light-fin-blue);
}
tr.gridjs-tr:has(span[data-rank="2"]) td {
    color: var(--fin-blue);
    background-color: rgb(222 229 238 / 55%);
    font-size: 1.09em;
    font-weight: 500;
    font-stretch: expanded;
}

td span[data-rank="3"] {
    color: var(--fin-blue);
    text-shadow: 0 0 5px var(--light-fin-blue);
}
tr.gridjs-tr:has(span[data-rank="3"]) td {
    color: var(--fin-blue);
    background-color: rgb(222 229 238 / 25%);
    font-size: 1.02em;
    font-stretch: semi-expanded;
}