.modlog-action {
	text-transform: capitalize;
}

td a {
    color: inherit;
}

tr.gridjs-tr:nth-child(1) td {
    color: var(--fin-blue);
    background-color: rgb(222 229 238 / 85%);
    font-size: 1.3em;
    font-weight: 800;
    font-stretch: extra-expanded;
}

tr.gridjs-tr:nth-child(2) td {
    color: var(--fin-blue);
    background-color: rgb(222 229 238 / 55%);
    font-size: 1.09em;
    font-weight: 500;
    font-stretch: expanded;
}

tr.gridjs-tr:nth-child(3) td {
    color: var(--fin-blue);
    background-color: rgb(222 229 238 / 25%);
    font-size: 1.02em;
    font-stretch: semi-expanded;
}
